# Application runtime environment
APP_ENV=development
LOG_LEVEL=INFO

# Local data directory
DATA_DIR=data

# Embedding model
EMBEDDING_MODEL_NAME=Qwen/Qwen3-Embedding-0.6B

# Anthropic Generator
ANTHROPIC_API_KEY=your-anthropic-api-key
ANTHROPIC_MODEL_NAME=claude-haiku-4-5
